//----------------------------------------------
// Inputs
//---------------------------------------------- 
input,
textarea {
  @extend %letter-spacing;
  @extend %text-center;

  display: block;
  width: 100%;
  max-width: 100%;
  margin-bottom: 2em;
  padding: 1em 0.5em;

  font-family: $font-header;
  font-weight: 700;
  color: $color-beta;
  background: transparent;
  border: 3px solid $color-beta;
  border-radius: 0;
  box-shadow: none;
  outline: 0;
  -webkit-appearance: none;
  transition: border-color 200ms ease-in-out;

  &:focus {
    border-color: $color-beta;
  }
}

textarea {
  resize: vertical;
}

input[type="submit"] {
  margin-bottom: 0;

  color: $color-alpha;
  background-color: $color-beta;
  cursor: pointer;
}

//----------------------------------------------
// Placeholders
//---------------------------------------------- 
::placeholder {
  color: rgba($color-beta, 0.5);
}
