// //----------------------------------------------
// // Forms
// //---------------------------------------------- 
// form {
//   display: flex;
//   justify-content: center;
//   width: 100%;
// }

//----------------------------------------------
// Inputs
//---------------------------------------------- 
input {
  @extend %letter-spacing;
  @extend %text-center;

  display: block;
  width: 100%;
  max-width: 100%;
  margin-bottom: 2em;
  padding: 0.75em 0.5em;

  font-family: $font;
  font-weight: 400;
  color: $color-black;
  background: transparent;
  border: 1px solid $color-beta;
  border-radius: 0;
  box-shadow: none;
  outline: 0;
  -webkit-appearance: none;
  transition: border-color 200ms ease-in-out;

  &:focus {
    border-color: $color-black;
  }
}

input[type="submit"] {
  margin-bottom: 0;

  cursor: pointer;
}

//----------------------------------------------
// Placeholders
//---------------------------------------------- 
::placeholder {
  color: $color-beta;
}
