//---------------------------------------------- 
//  Strikethrough - strikethrough()
//  @description: Creates a strikethrough animation for links
//  @param:       $color - Color
//  @param:       $bgColor - Background color
//----------------------------------------------
@mixin strikethrough($color: $color-black, $bgColor: $color-alpha) {
  position: relative;

  color: $color;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;

    height: 2px;
    width: 100%;

    background-color: $bgColor;
    transform: scaleX(0);
    transform-origin: center right;
    transition: transform 300ms ease-in-out;
  }

  &:hover {

    &:after {
      transform-origin: center left;
      transform: scaleX(1);
    }
  }
}

//---------------------------------------------- 
//  Button Split - btn-split()
//  @description: Creates a button that has a splitting border effect
//  @param:       $color - Color
//  @param:       $borderColor: [$color] - Border color
//  @param:       $borderWidth: [2px] - Border width
//  @param:       $pad: [0] - Padding
//----------------------------------------------
@mixin btn-split($color, $borderColor: $color, $borderWidth: 1px, $pad: 0) {
  position: relative;

  padding: $pad;

  color: $color;

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    border: $borderWidth solid $borderColor;
    transition: transform 200ms ease-in;
  }

  &:hover {
    &:before,
    &:after {
      transition: transform 200ms ease-out;
    }

    &:before {
      transform: translate3d(-$borderWidth - 1px, $borderWidth + 1px, 0);
    }

    &:after {
      transform: translate3d($borderWidth + 1px, -$borderWidth - 1px, 0);
    }
  }
}
