<form id="form" action="https://formspree.io/okay@samesies.io" method="POST">
  <input type="hidden" name="_subject" value="Someone Emailed You.">

  <input type="text" name="full-name" placeholder="Full Name*" required>
  <input type="email" name="email" placeholder="E-mail*" required>
  <input type="email" name="phone-number" placeholder="Phone Number">
  <input type="email" name="help" placeholder="How Can We Help?">
  <input type="submit" value="You Bet">
</form>

<!-- <p class="form__message"></p> -->
