<!-- Header -->
<header class="header">
  <div>
    <a class="header__title" href="{{ '/' | absolute_url }}">
      samesie<span>s</span>
    </a>
  </div>
  <div>
    <nav>
      <ul class="header__list">
        <li><a class="header__link {% if page.url == '/themes/' %}active{% endif %}" href="{{ '/themes' | absolute_url }}">Themes</a></li>
        <li><a class="header__link {% if page.url == '/about/' %}active{% endif %}" href="{{ '/about' | absolute_url }}">About</a></li>
        <li><a class="header__link {% if page.url == '/documentation/' %}active{% endif %}" href="{{ '/documentation' | absolute_url }}">Documentation</a></li>
        <li><a class="header__link {% if page.url == '/blog/' %}active{% endif %}" href="{{ '/blog' | absolute_url }}">Blog</a></li>
      </ul>
    </nav>
  </div>
</header>
