//-------------------------------------------- 
// Color
//--------------------------------------------
.color-alpha {
  color: $color-alpha;
}

.color-beta {
  color: $color-beta;
}

.color-gamma {
  color: $color-gamma;
}

//-------------------------------------------- 
// Background Color
//--------------------------------------------
.bg-alpha {
  background-color: $color-alpha;
}

.bg-beta {
  background-color: $color-beta;
}

.bg-gamma {
  background-color: $color-gamma;
}

//-------------------------------------------- 
// Overflow
//--------------------------------------------
.js-overflow {
  overflow: hidden;
}
