//----------------------------------------------
// Footer
//---------------------------------------------- 

//----------------------------------------------
// Main
//---------------------------------------------- 
main {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);
  transform: translateZ(0);
  transition: filter 200ms ease-in-out;
  
  .js-nav & {
    filter: blur(2px);
  }
}
