//----------------------------------------------
// Navigation
//---------------------------------------------- 
.navigation {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-998;

  height: 100%;
  width: 100%;

  background-color: rgba($color-gamma, 0.25);
  visibility: hidden;
  opacity: 0;
  transition: all 200ms ease-in-out;

  .js-nav & {
    visibility: visible;
    opacity: 1;
  }

  &__container {
    position: relative;

    height: 100%;
    width: 30%;

    background-color: $color-gamma;
    box-shadow: 0 2px 50px rgba($color-gamma, 0.75);
    transform: translate3d(-100%, 0, 0);
    transition: transform 200ms ease-in-out 200ms;

    .js-nav & {
      transform: translate3d(0, 0, 0);
    }
  }

  &__emoji {
    position: fixed;
    left: 0;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: {
      right: 2em;
      bottom: 1em;
      left: 2em;
    }

    & > span {
      display: block;

      font-size: 2em;
    }
  }
}
