//----------------------------------------------
// Footer
//---------------------------------------------- 
.footer {
  padding: 2em 1em;

  background-color: $color-lightgrey;

  @media (min-width: $mq-small) {
    padding: {
      right: 2em;
      left: 2em;
    }
  }
}

//----------------------------------------------
// Flex based sticky footer
//---------------------------------------------- 
// body {
//   display: flex;
//   flex-direction: column;
//   min-height: 100vh;
// }

// main {
//   flex-grow: 1;
// }
