//----------------------------------------------
// Footer
//---------------------------------------------- 
.footer {
  border-top: 1px solid rgba($color-black, 0.1);

  &__list {
    @extend %no-list-style;

    display: flex;
    justify-content: center;

    & > * {

      &:not(:last-child) {
        margin-right: 1.5em;
      }
    }
  }

  &__link {
    @include strikethrough();
  }
}

//----------------------------------------------
// Flex based sticky footer
//---------------------------------------------- 
// body {
//   display: flex;
//   flex-direction: column;
//   min-height: 100vh;
// }

// main {
//   flex-grow: 1;
// }
