//----------------------------------------------
// Header
//---------------------------------------------- 
.header {
  display: flex;
  width: 100%;
  padding: 1em;

  @media (min-width: $mq-small) {
    padding: {
      right: 2em;
      left: 2em;
    }
  }

  & > * {
    display: flex;
    flex-basis: 50%;
    max-width: 50%;

    &:first-child {
      padding-right: 0.5em;
    }

    &:last-child {
      padding-left: 0.5em;
    }
  }

  &__img {
    height: 4em;
    width: 4em;

    img {
      display: block;
    }
  }

  &__list {
    @extend %no-list-style;

    display: flex;
    align-items: center;

    & > * {

      &:not(:last-child) {
        margin-right: 1.5em;
      }
    }
  }

  &__link {
    color: $color-black;

    &:hover,
    &:active,
    &:focus {
      color: $color-alpha;
    }

    &.active {
      position: relative;

      color: $color-alpha;

      &:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -0.1rem;

        height: 1px;
        width: 100%;

        background-color: $color-alpha;
      }
    }
  }
}
