//----------------------------------------------
// Header
//---------------------------------------------- 
.header {
  display: flex;
  width: 100%;
  padding: 1em;

  @media (min-width: $mq-small) {
    padding: {
      right: 2em;
      left: 2em;
    }
  }

  & > * {
    flex-basis: 50%;
    max-width: 50%;
  }

  &__list {
    @extend %no-list-style;

    display: flex;
    align-items: center;

    & > * {

      &:not(:last-child) {
        margin-right: 1.5em;
      }

      a {
        color: $color-black;
      }
    }
  }
}
