//----------------------------------------------
// Featured
//---------------------------------------------- 
.featured {
  min-height: 100vh;
  margin-left: 50%;
  
  background-color: $color-lightgrey;

  &__link {
    display: block;
  }

  &__img {

    img {
      @extend %auto-margin;

      display: block;
      width: 100%;
      max-width: $mq-med;
    }
  }
}
