//----------------------------------------------
// Form
//---------------------------------------------- 
.form {
  min-height: 100vh;
  margin-left: 45%;
  padding: {
    top: 10vw;
    right: 24vw;
  }
  
  background-color: $color-alpha;
}
