//----------------------------------------------
// Half
//---------------------------------------------- 
.half {

  @media (min-width: $mq-med) {
    display: flex;
  }

  &.half--reverse {
    flex-direction: row-reverse;
  }

  & > * {

    @media (min-width: $mq-med) {
      flex-basis: 50%;
      max-width: 50%;
    }

    &:first-child {
      background-color: $color-black;
    }
  }

  &__link {
    display: block;
  }

  &__img {

    img {
      @extend %auto-margin;

      display: block;
      max-height: $mq-xsmall;

      @media (min-width: $mq-med) {
        max-height: ($mq-small + $mq-xsmall) / 2;
      }
    }
  }

  &__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 4em 1em;

    @media (min-width: $mq-small) {
      padding: 6em 2em;
    }

    @media (min-width: $mq-med) {
      padding: {
        right: 3em;
        left: 3em;
      }
    }

    @media (min-width: $mq-xlarge) {
      // padding: {
      //   top: 8em;
      //   bottom: 8em;
      // }
      padding: 8em 4em;
    }
  }

  &__text {
    margin: {
      top: 0.5em;
      bottom: 0;
    }

    font-size: 1.35em;
  }
}
