//----------------------------------------------
// Mast
//---------------------------------------------- 
.mast {
  padding: 2em 1em;

  @media (min-width: $mq-small) {
    padding: {
      right: 2em;
      left: 2em;
    }
  }

  @media (min-width: $mq-xlarge) {
    padding: {
      top: 4em;
      bottom: 4em;
    }
  }

  &__text {
    margin-bottom: 0;

    font-size: 1.35em;
    font-weight: 500;

    @media (min-width: $mq-small) {
      width: 75%;

      font-size: 1.5em;
    }

    @media (min-width: $mq-med) {
      width: 50%;
      padding-right: 0.5em;
    }

    @media (min-width: $mq-xlarge) {
      font-size: 1.75em;
    }
  }

  &__btn {
    @extend .btn;

    margin-right: 0.25em;

    &:last-child {
      margin-right: 0;
    }
  }
}
