//----------------------------------------------
// Mast
//---------------------------------------------- 
.mast {
  padding: 2em 1em;

  @media (min-width: $mq-small) {
    padding: {
      right: 2em;
      left: 2em;
    }
  }

  @media (min-width: $mq-xlarge) {
    padding: {
      top: 4em;
      bottom: 4em;
    }
  }

  &__text {
    width: 50%;
    margin-bottom: 0;
    padding-right: 0.5em;

    font-size: 1.5em;
    font-weight: 500;

    @media (min-width: $mq-xlarge) {
      font-size: 1.75em;
    }
  }

  &__btn {
    @extend .btn;

    margin-right: 0.25em;

    &:last-child {
      margin-right: 0;
    }
  }
}
