//----------------------------------------------
// Themes
//---------------------------------------------- 
.themes {
  margin-bottom: 2em;

  @media (min-width: $mq-small) {
    margin-bottom: 3em;
  }

  @media (min-width: $mq-xlarge) {
    margin-bottom: 4em;
  }

  &__link {
    display: block;

    color: $color-black;
  }

  &__title {
    @extend %text-center;

    margin-bottom: 0.5em;
  }

  &__subcontainer {
    padding: 2em;

    background-color: $color-lightgrey;

    @media (min-width: $mq-small) {
      padding: 4em;
    }
  }

  &__slider {

    @media (max-width: $mq-small) {
      display: none;
    }
  }

  &__mobile {

    @media (min-width: $mq-small) {
      display: none;
    }
  }

  &__img {

    img {
      @extend %auto-margin;
      
      display: block;
      max-height: 20em;
    }
  }

  &__content {
    margin-top: 1em;
  }

  &__text {
    @extend %auto-margin;

    width: 95%;
    margin-bottom: 0;

    font-size: 1.35em;

    @media (min-width: $mq-small) {
      width: 80%;
    }

    @media (min-width: $mq-med) {
      width: 65%;
    }
  }
}
