//----------------------------------------------
// Themes
//---------------------------------------------- 
.themes {
  margin-bottom: 2em;

  @media (min-width: $mq-small) {
    margin-bottom: 3em;
  }

  @media (min-width: $mq-xlarge) {
    margin-bottom: 4em;
  }

  &__link {
    display: block;

    color: $color-black;
  }

  &__title {
    @extend %text-center;

    margin-bottom: 0.5em;
  }

  &__subcontainer {
    padding: 4em;

    background-color: $color-lightgrey;
  }

  &__img {

    img {
      @extend %auto-margin;
      
      display: block;
      max-height: 20em;
    }
  }

  &__content {
    margin-top: 2em;
  }

  &__text {
    @extend %auto-margin;

    width: 65%;
    margin-bottom: 0;

    font-size: 1.35em;
  }
}
