---
layout: default
title: Barber for Ghost
date: 2017-10-23
description: Barber is a minimal blog theme built for Ghost. The blog theme features a masonry grid, endless scrolling, and page transitions. 💈
image: /assets/images/barber/barber.jpg
demo: http://barber.samesies.io/
purchase: https://payhip.com/b/4Lz7
---
<!-- Mast -->
<section class="mast">
  <p class="mast__text">{{ page.description }}</p>
  <a class="mast__btn" href="{{ page.demo }}" target="_blank">View Demo</a>
  <a class="mast__btn" href="{{ page.purchase }}" target="_blank" onclick="return trackOutboundLink('{{ page.purchase }}', 'shop');">Buy Theme</a>
</section>

<!-- Directory -->
<section class="directory">
  <div class="directory__container">
    <div class="directory__subcontainer">
      <h2>Initial Setup</h2>
      <ul class="directory__list">
        <li>
          <a class="directory__link" href="#installation">Installation</a>
        </li>
        <li>
          <a class="directory__link" href="#enable-beta-features">Enable Beta Features</a>
        </li>
        <li>
          <a class="directory__link" href="#update-settings">Update Settings</a>
        </li>
        <li>
          <a class="directory__link" href="#create-static-pages">Create Static Pages</a>
        </li>
        <li>
          <a class="directory__link" href="#create-navigation">Create Navigation</a>
        </li>
      </ul>
    </div>
    <div class="directory__subcontainer">
      <h2>Customization</h2>
      <ul class="directory__list">
        <li>
          <a class="directory__link" href="#contact-form">Contact Form</a>
        </li>
        <li>
          <a class="directory__link" href="#social-media-links">Social Media Links</a>
        </li>
        <li>
          <a class="directory__link" href="#disqus-comments">Disqus Comments</a>
        </li>
      </ul>
    </div>
    <div class="directory__subcontainer">
      <h2>Additional Development</h2>
      <ul class="directory__list">
        <li>
          <a class="directory__link" href="#source-code">Source Code</a>
        </li>
        <li>
          <a class="directory__link" href="#support">Support</a>
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- Initial Setup -->
<section class="post-doc section-padding--half">
  <div class="grid">
    <div id="installation" class="post-doc__container">
      <h3 class="post-doc__title">Installation</h3>
      <p>Ghost requires the theme to be uploaded in a <code>.zip</code> file. You will need to do this whenever you make any edit to the source code. You can run <code>gulp zip</code> in your command line to generate this file without all the extra folders Ghost does not need (see <a href="#source-code">Source Code</a> for more information about Gulp).</p>
      {% include screen.html image="/assets/images/barber/doc/installation.jpg" %}
    </div>
    <div id="enable-beta-features" class="post-doc__container">
      <h3 class="post-doc__title">Enable Beta Features</h3>
      <p>Barber uses a couple of features that are still in beta testing. You must activate the <strong>Public API</strong> and the <strong>Subscribers</strong> features. These features make tag pages, endless scrolling, and a subscription list possible.</p>
      {% include screen.html image="/assets/images/barber/doc/beta-features.jpg" %}
    </div>
    <div id="update-settings" class="post-doc__container">
      <h3 class="post-doc__title">Update Settings</h3>
      {% include screen.html image="/assets/images/barber/doc/update-settings.jpg" %}
    </div>
    <div id="create-static-pages" class="post-doc__container">
      <h3 class="post-doc__title">Create Static Pages</h3>
      <p>Creating a static page is the same as creating a story. The only difference is before the story is published it is turned into a page by selecting the checkbox at the very bottom of the post settings.
      {% include screen.html image="/assets/images/barber/doc/static-pages.jpg" %}
    </div>
    <div id="create-navigation" class="post-doc__container">
      <h3 class="post-doc__title">Create Navigation</h3>
      <p>You can create a navigation under the Design Settings. Visitors can be linked directly to static pages right on the top of your website.</p>
    </div>
  </div>
</section>

<!-- Customization -->
<section class="post-doc section-padding--half">
  <div class="grid">
    <div id="contact-form" class="post-doc__container">
      <h3 class="post-doc__title">Contact Form</h3>
      <p>Once you have created a static page for Contact and navigated to that page you will see a form. The form uses <a href="https://formspree.io/" target="_blank">Formspree</a> to send submitted messages straight to your inbox.</p>

      {% include screen.html image="/assets/images/barber/cropped/contact-notebook.jpg" %}

      <p>You do have to set the email address where you want to receive the form (you can even set the subject too). This file can be found in <code>partials/formspree.hbs</code>. After everything is set you will need to submit a message yourself to confirm the email address is correct.</p>
    </div>
    <div id="social-media-links" class="post-doc__container">
      <h3 class="post-doc__title">Social Media Links</h3>
      <p><a href="http://fontawesome.io/" target="_blank">Font Awesome</a> is used for the social media icons. The icons in the theme can be found in <code>partials/share.hbs</code> and <code>partials/social.hbs</code>. The icons in <code>partials/share.hbs</code> do not need to be edited unless you want to remove a certain website; however, the ones in <code>partials/social.hbs</code> do have to be changed. You can follow the template that has been provided for you to link to all of your social media accounts. The naming convention has not changed from the instructions provided on Font Awesome.</p>
    </div>
    <div id="disqus-comments" class="post-doc__container">
      <h3 class="post-doc__title">Disqus Comments</h3>
      <p>Comments can be enabled on every blog post in three steps. The first step is to register your website with <a href="https://disqus.com/" target="_blank">Disqus</a>. Disqus will provide you with a shortname that you need for the next step. Once you have that the second step is to open <code>partials/disqus.hbs</code>, remove all the instructions, and paste in your shortcode where the placeholder one currently is. The third step is to visit a blog post and verify that your comments are there.</p>
    </div>
  </div>
</section>

<!-- Additional Development -->
<section class="post-doc section-padding--half">
  <div class="grid">
    <div id="source-code" class="post-doc__container">
      <h3 class="post-doc__title">Source Code</h3>
      <p>The source code is broken down to make finding what you need as easy as possible. Almost everything runs through <code>gulpfile.js</code>, so you will need to run <code>npm install</code> on your command line before doing any additional development. You can then run <code>gulp</code> or <code>npm start</code> to compile everything.
      <pre>
        <code>
.
├── assets
|   └── js
├── partials
|   ├── disqus.hbs
|   ├── footer.hbs
|   ├── formspree.hbs
|   ├── head.hbs
|   ├── header.hbs
|   ├── navigation.hbs
|   ├── pagination.hbs
|   ├── post-card.hbs
|   ├── share.hbs
|   ├── social.hbs
|   ├── styles-amp.hbs
|   ├── styles-app.hbs
|   └── subscribe_form.hbs
├── src
|   ├── js
|       ├── components
|       ├── vendor
|       └── _init.js
|   └── scss
|       ├── base
|       ├── components
|       ├── fonts
|       ├── regions
|       ├── tools
|       ├── utils
|       ├── vendor
|       ├── amp.scss
|       └── app.scss
├── .eslintrc
├── .gitignore
├── .stylelintrc
├── amp.hbs
├── author.hbs
├── default.hbs
├── error-404.hbs
├── error.hbs
├── gulpfile.js
├── index.hbs
├── package.json
├── page-contact.hbs
├── page.hbs
├── post.hbs
├── subscribe.hbs
└── tag.hbs
        </code>
      </pre>
      <p>The CSS is written in Sass and compiled in two different files. One for the whole website and one for Google AMP pages. The JavaScript is written in ES6, so your code is up to date with the newest standards. This theme does not have jQuery, so you are saving every visitor from downloading that script.</p>
    </div>
    <div id="support" class="post-doc__container">
      <h3 class="post-doc__title">Support</h3>
      <p>Email <a href="mailto:okay@samesies.io">okay@samesies.io</a> if you need any additional support with Barber.</p>
    </div>
  </div>
</section>
